*,*:before,*:after{
    margin:0;
    padding:0;
    
}

.body{
    width: 1024px;
    height:768px;
    margin:0;
    padding:0;

}
.header {
    width: 1024px;
    height: 65px;
    background-color: #000fff;
    display: flex;
    justify-content: center;

    
}
.header>img{
    width: 100px;
    height: 65px;
  
}
.main {
    width: 1024px;
    height: 683px;
    display:flex;
  
    
    
}
.sidenav{
    width: 200px;
    height: 683px;
    display:flex;
    background-color: #f0f0f0;

}
.content{
    width: 824px;
    height: 683px;
    display: block;
   
    
}
.marquee{
    width: 824px;
    height: 29px;
    
}
.marquee>marquee{
    width: 824px;
    height: 29px;
    font-size: 16px;
    line-height:16px;
    display:flex;
    justify-content: left;
    align-items: center;

}
.contentdown{
    width: 824px;
    height: 654px;
    margin: 0;
    padding: 0;
   
}
.footer {
    width: 1024px;
    height: 20px;
    
}
/* sidenav display setting */
.sidenav{
    background-color: #00ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
.sidenav table td{
    width: 120px;
    height: 40px;
    padding: 0;
    border:0;
}
